.settings {
  width:100%;
  display:block;
  margin-bottom:10px;
  margin-top:10px;
}

.settings .preview {
  display:inline-block;
  float:right;
  width:560px;
  height:400px;
  text-align:center;
}

.settings .preview iframe {
  border:2px inset lightgrey;
  width:inherit;
  height:inherit;
}

.settings .cell {
  width:20%;
  display:inline-block;
  margin-bottom:6px;
}

.settings .label {
  width:20%;
  display:inline-block;
  text-align:right;
  padding-right:6px;
}

.short {
  width:40px;
}