#content .admin {
  display:block;
}

#login input {
  width:140px;
}

#login .cell {
  width:150px;
  display:inline-block;
  margin-bottom:6px;
}

#login .label {
  text-align:right;
  padding-right:6px;
}

#login .submit {
  width:300px;
  text-align:right;
  margin:0px;
}

#login .submit input {
  width:80px;
}