strong {
  font-weight:bold;
}

p {
  margin-bottom:8px;
}

.page {
  width:100%;
  padding:15px;
  padding-bottom:0px;
  box-sizing:border-box;
  position:relative;
  height:auto;
  overflow:hidden;
}

header {
  background-color:black;
  color:white;
  padding:15px;
  box-sizing:border-box;
  font-size:15px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

header h1 {
  text-align:center;
  font-size:36px;
  margin-top:20px;
  margin-bottom:10px;
  line-height:1.1;
}

header img {
  margin:0px;
  padding:0px;
  padding-right:15px;
  vertical-align:middle;
}

header a {
  text-decoration:none;
  color:inherit;
}

nav {
  background-color:#eeeeee;
  width:200px;
  float:left;
  padding:15px;
  line-height:30px;
  position:absolute;
  height:100%;
  overflow:hidden;
}

#content {
  padding:15px;
  margin-left:230px;
  height:100%;
  overflow:hidden;
  min-height:500px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

#footer {
  background-color:black;
  color:white;
  clear:both;
  padding:5px;
  text-align:center;
  line-height:22px;
}

#footer h1, #footer h2 {
  text-align:center;
  font-size:15px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

#footer h2 {
  font-size:12px;
}

#footer h2 a {
  text-decoration:none;
  color:inherit;
  font-family:inherit;
}