.blog {
  margin-bottom:10px;
  width:auto;
  display:block;
}

.tags .tag {
  background-color:black;
  border:1px solid black;
  border-radius:8px;
  color:white;
  padding:4px;
  margin-right:4px;
  display:inline-block;
  font-size:12px;
  line-height:12px;
}

.tags .tag:not(:last-child) {
  margin-bottom:4px;
}

.tags .tag a {
  text-decoration:none;
  font-family:inherit;
  font-size:inherit;
  color:inherit;
}

.blog aside {
  display:table-cell;
  vertical-align:top;
  height:auto;
  width:118px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

.blog aside div {
  display:block;
  vertical-align:top;
  box-sizing:border-box;
  border:1px solid black;
}

.blog aside time {
  display:block;
  width:113px;
  height:45px;
  line-height:20px;
  margin:0 0 15px 0px;
  padding:6px 6px 6px 0px;
  text-align:center;
  font-size:14px;
  background-image:linear-gradient(60deg, black, black);
  color:white;
  text-transform:uppercase;
}

.blog aside dl {
  margin-bottom:0;
  text-align:left;
  font-size:13px;
  margin-left:5px;
  margin-top:0;
}

.blog aside dl dd {
  margin:0 0 10px;
  font-size:12px;
  padding-left:12px;
}

.blog aside dl dt {
  margin-bottom:4px;
}

.blog article {
  display:table-cell;
  font-size:14px;
  line-height:22px;
  margin:0 0 0px 90px;
  padding:0px 0px 15px 15px;
  position:relative;
  color:black;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

.blog article p {
  padding-bottom:10px;
}

.blog article h1, .blog article h2 {
  clear:both;
  font-size:35px;
  line-height:72px;
  margin:0px;
  padding:0px 15px 15px 0px;
  text-transform:uppercase;
  color:black;
}

.blog article h1 img {
  margin:0px;
  padding:0px;
  padding-right:8px;
  vertical-align:middle;
}

.blog article h2 {
  font-size:27px;
  line-height:64px;
  padding:0px 0px 0px 0px;
}