strong {
  font-weight:bold;
}

p {
  margin-bottom:8px;
}

.page {
  padding:0px;
  margin:0px;
  margin-left:15px;
  margin-right:15px;
  height:100%;
  display:block;
}

header {
  background-color:black;
  color:white;
  margin-top:15px;
  margin-bottom:0px;
  font-size:15px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

header h1 {
  text-align:center;
  font-size:36px;
  padding-top:20px;
  padding-bottom:10px;
  line-height:1.1;
}

header img {
  margin:0px;
  padding:0px;
  padding-right:15px;
  vertical-align:middle;
}

header a {
  text-decoration:none;
  color:inherit;
}

#content {
  padding:15px;
  margin-left:230px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
  display:table-cell;
  height:inherit;
}

#footer {
  background-color:black;
  color:white;
  margin-bottom:15px;
  text-align:center;
  line-height:22px;
}

#footer h1, #footer h2 {
  text-align:center;
  font-size:15px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

#footer h2 {
  font-size:12px;
}

#footer h2 a {
  text-decoration:none;
  color:inherit;
  font-family:inherit;
}