nav {
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

nav h1 {
  font-size:28px;
  margin:0px;
  text-transform:uppercase;
  color:black;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

nav h1:not(:first-child) {
  padding-top:15px;
}

nav h2 {
  font-size:18px;
  margin:0px;
  text-transform:uppercase;
  color:black;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

nav h1 img {
  width:24px;
  height:24px;
}

nav #posts p {
  padding-left:15px;
  font-size:14px;
}

nav .break {
  border-bottom:1px solid black;
  margin-bottom:12px;
}

nav #posts h1 img {
  margin:0px;
  padding:0px;
  padding-right:8px;
  vertical-align:top;
}

nav .box {
  background-color:white;
  margin:0px;
  padding:0px;
  width:100%;
}